<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel - Add Students</title>
</head>
<body>
    <div>
        <ul class="li"> <a href="/admin-panel">admin-panel</a></ul>
        <ul class="li"> <a href="/student">Students Page</a></ul>
    </div>
    <main>
        <form action="/student/studentDetails" method="post">
            <input type="text" name="studentName">
            <button type="submit">Add Studentt</button>
        </form>
    </main> 
</body>
</html>